@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Movie App</title>

    <!-- Bootstrap core CSS -->
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/album.css" rel="stylesheet" />
    @*<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }
    </style>
    <!-- Custom styles for this template -->
</head>
<body>

    @Html.Partial("_PartialHeader")

    <main role="main">

        @RenderBody()

    </main>

    @Html.Partial("_PartialFooter")

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
