@model Movie
@{
    ViewData["Title"] = "Details";
}
<link href="~/css/album.css" rel="stylesheet" />
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("Menu")
        </div>
        <div class="col-md-9">
            <div class="card" width="50">
                <img src="~/img/@Model.Image" class="card-img-top" alt="@Model.Name">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

