@model IEnumerable<Category>

<h3 class="text-center">Categories</h3>
<div class="list-group">

    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">
            @item.CategoryName
        </a>
    }

</div>
